# temp files
temp.png

# built artifacts
miaoko
miaospeed
dist
*.tgz
*.dev.sh
*.release.sh

# configs
test.yaml
config.yaml
.history.yaml

# embeded
*/embeded/*
!*/embeded/.gitkeep

# intermediates
emojis
history
fonts

# miscs
.DS_Store
._.DS_Store
